<div class="container">
  <div class="row">
    <h1>HashtAggie's blog</h1>
    <div class="col s4">
      <p class="flow-text"><% @posts.each do |post| %>
        <a href="<%= post_path post%>" class="summary">
     <%= cl_image_tag(post.image.url) %>
        <h2><%= link_to post.title, post %></h2>
          <% end %></p></div>

    <div class="col s4">
      <p class="flow-text"></p>
    </div>
    <div class="col s4">
      <p class="flow-text"></p>
    </div>
  </div>
</div>

<br/>

<%= link_to 'New post', new_post_path %>
